<div id="container" [className]="mostrarMenu ? 'effect aside-float aside-bright mainnav-lg' : 'cls-container'" class="">

	<app-header *ngIf=(mostrarMenu)></app-header>
	<div class="boxed">
		<div  [id]="mostrarMenu? 'content-container':'content-container-login'"  class="">
			<app-breadcrumb *ngIf=(mostrarMenu)></app-breadcrumb>

			<div [id]="mostrarMenu?'page-content':''">

				<div class="panel panel-body "  id="controlpanelbody">
					<router-outlet></router-outlet>
				</div>
			</div>
		</div>

		<app-config *ngIf=(mostrarMenu)></app-config>
		<app-menu *ngIf=(mostrarMenu)></app-menu>
	</div>
	<app-footer *ngIf=(mostrarMenu)></app-footer>
	<!-- SCROLL PAGE BUTTON -->

</div>

<app-loader></app-loader>
<app-commemorations></app-commemorations>
<app-snackbar></app-snackbar>
