.bg-img {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	/* opacity: .8; */
	/* background-position: 50%; */
	background-image: url("/../../../assets/img/bg-img/bg-img-3.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}
.login {
	position: relative;
	padding: 25px;
	width: 300px;
	background: var(--background);
	z-index: 999;

	min-width: 270px;
	margin: 0 auto;
	border: 0;
	box-shadow: none;
	top: 50px;
	border-radius: 8px;
}

input {
	width: calc(100%);
	margin: 5px 0;
	padding: 15px 0;
	background: var(--backgroundInput)!important;
	color: var(--backgroundInputColor)!important;
}
.btnentrar {
	width: calc(100%);
	margin-top: 15px;
	padding: 10px 0;
	border: transparent;

	font-weight: bold;
	font-size: 14px;
	line-height: 16px;
	text-transform: uppercase;
	-webkit-text-decoration: none;
	text-decoration: none;
}
.btnNewAccount {
	width: calc(100%);
	margin-top: 15px;
	padding: 10px 0;
	border: transparent;

	font-size: 1.3rem;

}
.cardTitle {
	text-align: center;
}
.cardTitle .title {
	font-size: 2em;
	color: var(--backgroundColor);
}
.cardTitle .subTitle {
	color: #bababa;
}
