.loader {
    position: absolute;
    left: 48%;
    top: 48%;
    width: 100px;
    height: 100px;
    z-index: 9999!important;
    background: url('../../../assets/img/system/loader.svg') no-repeat;
    background-size: 100px 100px;
  }
