.titleSticky {
	font-size: 3em;
	font-weight: bold;
	margin-left: 20px;
	/* text-align: center; */
}
.sticky {
	display: flex;
	flex-wrap: wrap;
	max-width: 100vw;
	margin: 0 auto;
}

.sticky .card {
	flex: 1 1 0;
	margin: 20px;
}
.image {
	display: flex;
	width: 100%;
}
.sticky .card .image img {
	width: 200px;
	/* display: flex; */
	/* flex: 1; */
	margin: 0 auto;
}
.text {
	display: flex;
	/* flex: 1; */
	justify-content: center;
	justify-items: center;
	flex-direction: column;
	height: 100%;
}
.front {
	display: flex;
	justify-content: center;
	text-align: center;
	font-size: 2em;
	font-weight: bold;
	/* text-transform: capitalize; */
	margin-bottom: 15px;
}
.back {
	display: flex;
	justify-content: center;
	font-size: 1em;
	margin-bottom: 25px;
}
.actions {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	padding: 15px;

	/* text-align: right; */
	/* height: 50px; */
}
.actions .add-sticky {
	position: relative;
	float: right;
	margin-left: 5px;
	background: var(--backgroundButton);
	width: 60px;
	height: 60px;
	border-radius: 30px;
	/* display: flex; */
	display: grid;
	align-content: center;
	text-align: center;
}
.actions .add-category {
	position: relative;
	float: right;
	background: var(--icons);
	width: 60px;
	height: 60px;
	border-radius: 30px;
	display: grid;
	align-content: center;
	text-align: center;
}

.content {
	margin-top: 30px;
}
.iconAction{
	font-size: 3rem;
}
