<!--
<nav id="mainnav-container">
	<div id="mainnav">

		<div id="mainnav-menu-wrap">
			<div class="nano">
				<div class="nano-content">
					<div id="mainnav-profile" class="mainnav-profile">
						<div class="profile-wrap text-center">
							<div class="pad-btm pos-rel">
								<img
									class="img-circle img-md"
									src="{{ img_logo }}"
									alt="Profile Picture"
								/>
								<span class="dot piscando"></span>
							</div>
							<p class="mnp-name">{{ pessoa?.no_funcionario }}</p>
						</div>
					</div>
					<div id="mainnav-shortcut" class="hidden">
						<ul class="list-unstyled shortcut-wrap">
							<li class="col-xs-3" data-content="My Profile">
								<a class="shortcut-grid">
									<div
										class="icon-wrap icon-wrap-sm icon-circle bg-mint"
									>
										<i class="pli-male"></i>
									</div>
								</a>
							</li>
							<li class="col-xs-3" data-content="Messages">
								<a class="shortcut-grid">
									<div
										class="icon-wrap icon-wrap-sm icon-circle bg-warning"
									>
										<i class="pli-speech-bubble-3"></i>
									</div>
								</a>
							</li>
							<li class="col-xs-3" data-content="Activity">
								<a class="shortcut-grid">
									<div
										class="icon-wrap icon-wrap-sm icon-circle bg-success"
									>
										<i class="pli-thunder"></i>
									</div>
								</a>
							</li>
							<li class="col-xs-3" data-content="Lock Screen">
								<a class="shortcut-grid">
									<div
										class="icon-wrap icon-wrap-sm icon-circle bg-purple"
									>
										<i class="pli-lock-2"></i>
									</div>
								</a>
							</li>
						</ul>
					</div>

					<ul id="mainnav-menu" class="list-group">
						<li class="list-header">Menu</li>
						<li
							*ngFor="let menu of menus['1']"
							routerLinkActive="active-link"
						>
							<a
								[routerLink]="['/' + menu?.ds_url]"
								(click)="menuOpenOrHide()"
							>
								<i class="pli-{{ menu.icon }}"></i>
								<span
									class="menu-title"
									innerHtml="{{ menu.no_rotina }}"
								>
								</span>
							</a>
						</li>

						<li *ngIf="menus['2']">
							<a
								[routerLink]="['/relatorios']"
								class="cursor-pointer"
							>
								<i class="pli-bar-chart"></i>
								<span class="menu-title">Relatórios</span>
							</a>

						</li>
					</ul>

					<div class="mainnav-widget">
						<div class="show-small">
							<a
								data-toggle="menu-widget"
								data-target="#wg-server"
							>
								<i class="pli-monitor-2"></i>
							</a>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
</nav>

<div class="menuApp">
	<div class="items">
		<ng-container *ngFor="let menu of menus['1']">
			<div class="item" *ngIf="menu?.bo_mostrar_app">
				<a [routerLink]="['/' + menu?.ds_url]">
					<i
						class="pli-{{ menu.icon }}"
						style="font-size: 2em; color: #fff !important;"
						*ngIf="menu.bo_mostrar_app"
					></i>
				</a>
			</div>
		</ng-container>
	</div>
</div> -->
