<!-- <header id="navbar">
	<div id="navbar-container" class="boxed">

		<div class="navbar-header">
			<a [routerLink]="['/dashboard']" class="navbar-brand">

				<img src="./assets/img/logo1parte.png" alt="Siagesc Logo" class="brand-icon" />

				<div class="brand-title">
					<span>Memorize</span>
				</div>
			</a>
		</div>

		<div class="navbar-content">
			<ul class="nav navbar-top-links">

				<li class="tgl-menu-btn" id="tgl-menu-btn_pdv">

				</li>

			</ul>
			<ul class="nav navbar-top-links">
				<li>
					<a [routerLink]="['/']" id="outPdv"> </a>
				</li>


				<li class="dropdown">
					<a href="#" data-toggle="dropdown" class="dropdown-toggle">
						<i class="pli-bell"></i>

					</a>


					<div class="dropdown-menu dropdown-menu-md dropdown-menu-right">
						<div class="nano scrollable">
							<div class="nano-content">
								<ul class="head-list">
									<li>
										<a>
											<div class="text-center">
												<p class="mar-no text-nowrap text-main text-semibold">
													Sem notificações
												</p>
											</div>
										</a>
									</li>

								</ul>
							</div>
						</div>


						<div class="pad-all bord-top">

						</div>
					</div>
				</li>

				<li id="dropdown-user" class="dropdown">
					<a href="#" data-toggle="dropdown" class="dropdown-toggle text-right">
						<span class="ic-user pull-right">

							<i class="pli-male"></i>
						</span>

					</a>

					<div class="dropdown-menu dropdown-menu-sm dropdown-menu-right panel-default">
						<ul class="head-list">
							<li>
								<a href="#"><i class="pli-computer-secure icon-lg icon-fw"></i>
									Tela Cheia</a>
							</li>
							<li>
								<a (click)="logout()"><i class="pli-unlock icon-lg icon-fw"></i>
									Sair</a>
							</li>
						</ul>
					</div>
				</li>


				<li>
					<a href="#" class="aside-toggle">
						<i class="pli-dot-vertical"></i>
					</a>
				</li>
			</ul>
		</div>

	</div>
</header> -->
