:root {
    --background: #212025;
    --backgroundColor: #e1e1e6;;
    --colorPrimary: #fff;
    --backgroundButton: #04d361;
    --backgroundButtonHover: #0df576;
    --backgroundButtonDisabled: #95fcc1;
    --backgroundButtonDisabledColor: #212025;
    --backgroundButtonColor: #fff;
    --primary: #04d361;
}
